body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    font-weight: normal;
}


/* header section */
h1 {
    font-size: 50px;
}

p {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

/* travel guide */
h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
}